a {
	color: $accent;
	text-decoration: none;
	&:hover {
		color: $accent;
	}
}

/* paragraphs */



/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 0;
	margin:0;
}
ul {
	padding:0;
	margin:0;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}

h1{
	font-family: $titlefont;
	margin-bottom:0;
}
h2,h3,h4{
	font-family: $titlefont2;
	font-size:2.3rem;
}
p {
	line-height: 1.5;
	font-family: $bodyfont;
	/*font-weight:300;*/
}
.small-text{
	font-size:0.8rem;
	color:rgba($lightgrey,0.7);
}
.btn___view{
	text-transform: uppercase;
	font-family: $titlefont2;
	color:white;
}
/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}

