$lightgrey: #ccc;
$grey: #111;
$darkgrey:rgb(10,10,10);
$mediumgrey:#3A3A3A;
$white: #d7d5d3;
$accent:rgba(52, 152, 219,1.0);
$accentFaded:rgba(52, 152, 219,0.85);
//fonts
$titlefont: 'Josefin Sans', sans-serif;
$titlefont2: 'Montserrat', sans-serif;
$bodyfont: 'Lato';

//screen sizes
$smartphone: 480px;
$tabletPortrait: 800px;
$tabletLandscape: 1024px;
$desktop: 1174px;
$largeScreen: 1400px;